<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="#" method="post">
      <label><h4>EPS</h4></label>
      <label for="nit">NIT </label>
      <input type="input" name="nit" id="nit">
      <label for="nombre">Nombre o Razón Social </label>
      <input type="input" name="nombre" id="nombre"><br><br>
      <label for="correo">Correo </label>
      <input type="input" name="correo" id="correo">
      <label for="telefono">Teléfono </label>
      <input type="input" name="telefono" id="telefono"><br><br>
      <label for="direccion">Dirreción </label>
      <input type="input" name="direccion" id="direccion"><br><br>
      <strong><p>Persona Responsable</p></strong>
      <label >Tipo de Documento </label>
      <select>
        <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
        <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="id">Id</option>
      </select>
      <label for="numDocumento">N° de Documento </label>
      <input type="text" name="numDocumento" id="numDocumento"><br><br>
      <label for="nombre">Nombre </label>
      <input type="text" name="nombre" id="nombre">
      <label for="apellidos">Apellidos </label>
      <input type="text" name="apellidos" id="apellidos"><br><br>
      <label >Género </label>
      <select name="genero">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
      <label for="telefono">Telefono </label>
      <input type="text" name="telefono" id="telefono"><br><br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>Aprobadas</label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>Rechazadas</label><br><br>
      EPS
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="aprobar-eps" value="aprobar-eps">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="checkbox" name="reprobar-eps" value="reprobar-eps"><br><br>
      <input type="submit" name="enviar" value="ACEPTAR">
    </form>
  </body>
</html>
