<form action="#" method="post">
  <div class="row center">
    <label><h3>PACIENTE, MÉDICO GENERAL Y ESPECIALISTA</h3></label>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <select>
        <option value="" disabled selected>Tipo de Documento</option>
        <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
        <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="id">Id</option>
      </select>
    </div>
    <div class="input-field col l6">
      <label for="numDocumento">N° de Documento </label>
      <input type="text" name="numDocumento" id="numDocumento">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label for="nombre">Nombre </label>
      <input type="text" name="nombre" id="nombre">
    </div>
    <div class="input-field col l6">
      <label for="apellidos">Apellidos </label>
      <input type="text" name="apellidos" id="apellidos">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <select name="genero">
        <option value="" disabled selected>Género</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>
    <div class="col l6">
      <label for="nacimiento">Fecha de Nacimiento </label>
      <input type="date" name="nacimiento" value="nacimiento"><br><br>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label for="correo">Correo </label>
      <input type="text" name="correo" id="correo">
    </div>
    <div class="input-field col l6">
      <label for="telefono">Telefono </label>
      <input type="text" name="telefono" id="telefono">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label for="direccion">Dirección </label>
      <input type="text" name="direccion" id="direccion">
    </div>
    <div class="input-field col l6">
      <label for="eps-asociada">EPS Asociada </label>
      <input type="text" name="eps-asociada" id="eps-asociada">
    </div>
  </div>
  <div class="row">
    <div class="col l4">
      <label>Paciente</label>
      <form action="#">
        <p>
          <input type="checkbox" class="filled-in" name="aprobar-paciente" value="aprobar-paciente" id="paciente-aprobada-check">
          <label for="paciente-aprobada-check">Aprobadas</label>
        </p>
        <p>
          <input type="checkbox" class="filled-in" name="rechazar-paciente" value="rechazar-paciente" id="paciente-reprobada-check">
          <label for="paciente-reprobada-check">Rechazadas</label>
        </p>
      </form>
    </div>
    <div class="col l4">
      <label>Médico General</label>
      <form action="#">
        <p>
          <input type="checkbox" class="filled-in" name="aprobar-medico-general" value="aprobar-medico-general" id="general-aprobada-check">
          <label for="general-aprobada-check">Aprobadas</label>
        </p>
        <p>
          <input type="checkbox" class="filled-in" name="rechazar-medico-general" value="rechazar-medico-general" id="general-reprobada-check">
          <label for="general-reprobada-check">Rechazadas</label>
        </p>
      </form>
    </div>
    <div class="col l4">
      <label>Médico Especialista</label>
      <form action="#">
        <p>
          <input type="checkbox" class="filled-in" name="aprobar-medico-especialista" value="aprobar-medico-especialista" id="especialista-aprobada-check">
          <label for="especialista-aprobada-check">Aprobadas</label>
        </p>
        <p>
          <input type="checkbox" class="filled-in" name="rechazar-medico-especialista" value="rechazar-medico-especialista" id="especialista-reprobada-check">
          <label for="especialista-reprobada-check">Rechazadas</label>
        </p>
      </form>
    </div>
  </div>
  <div class="row center">
    <input class="btn waves-effect waves-light" type="submit" name="enviar" value="ACEPTAR">
  </div>
</form>
