<form action="#" method="post">
  <div class="row center">
    <label><h3>EPS</h3></label>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label for="nit">NIT </label>
      <input type="text" name="nit" id="nit">
    </div>
    <div class="input-field col l6">
      <label for="nombre">Nombre o Razón Social </label>
      <input type="text" name="nombre" id="nombre">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label for="correo">Correo </label>
      <input type="text" name="correo" id="correo">
    </div>
    <div class="input-field col l6">
      <label for="telefono">Teléfono </label>
      <input type="text" name="telefono" id="telefono">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12">
      <label for="direccion">Dirreción </label>
      <input type="text" name="direccion" id="direccion">
    </div>
  </div>
  <div class="row">
    <h4>Persona Responsable</h4>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <select>
        <option value="" disabled selected>Tipo de Documento</option>
        <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
        <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="id">Id</option>
      </select>
    </div>
    <div class="input-field col l6">
      <label for="numDocumento">N° de Documento </label>
      <input type="text" name="numDocumento" id="numDocumento">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label for="nombre">Nombre </label>
      <input type="text" name="nombre" id="nombre">
    </div>
    <div class="input-field col l6">
      <label for="apellidos">Apellidos </label>
      <input type="text" name="apellidos" id="apellidos">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <select name="genero">
        <option value="" disabled selected>Tipo de Documento</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>
    <div class="input-field col l6">
      <label for="telefono">Telefono </label>
      <input type="text" name="telefono" id="telefono">
    </div>
  </div>
  <div class="row">
    <label>EPS</label>
    <form action="#">
      <p>
        <input type="checkbox" class="filled-in" name="aprobar-eps" value="aprobar-eps" id="aprobada-check">
        <label for="aprobada-check">Aprobadas</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" name="reprobar-eps" value="reprobar-eps" id="reprobada-check">
        <label for="reprobada-check">Rechazadas</label>
      </p>
    </form>
  </div>
  <div class="row center">
    <input class="btn waves-effect waves-light" type="submit" name="enviar" value="ACEPTAR">
  </div>
</form>
