<div class="row center">
  <h3>Listado de Solicitudes de Cuentas Pendientes</h3>
</div>
<div class="row">
  <div class="col l8 offset-l2 col s12">
    <select name="solicitudes">
      <% if (allUsers.length == 0) {%>
        <option value="none">No hay solicitudes Pendientes</option>
      <% } else {%>
        <% for (var user in allUsers) {%>
          <option value="<%= allUsers[user].names %>-<%= allUsers[user].numDocument %>">
            <%= allUsers[user].names %>-<%= allUsers[user].documentNumber %>
          </option>
        <% } %>
      <% } %>
    </select>
  </div>
</div>
<div class="row center">
  <button class="waves-effect waves-light btn" type="button" name="button">VER</button>
</div>
