<div class="">
  <h3>Listado de Solicitudes de Cuentas Pendientes</h3>
  <select name="solicitudes">
    <option value="user1">Alejandro Rendon</option>
    <option value="user2">Sebastian Duque</option>
  </select><br><br><br><br>
  <div class="row center">
    <button class="waves-effect waves-light btn" type="button" name="button">VER</button>
  </div>
</div>
