<form action="#" method="post">
  <label for="user">Usuario </label>
  <input type="text" name="user">
  <label for="pwd">Contraseña </label>
  <input type="password" name="pwd">
  <a href="#">¿Has olvidado tu contraseña?</a><br><br>
  <input type="submit" name="login" value="Iniciar Sesión">
</form>
