<form action="/account" method="get" onsubmit="alert('Revisa tu correo para poder recuperar tu contraseña');">
  <div class="row center">
    <br><br>
  </div>
  <div class="row">
    <div class="col l3">&nbsp;</div>
    <div class="input-field col l6 col m12 col s12">
      <i class="material-icons prefix">account_circle</i>
      <input type="text" id="user" name="user" class="validate" autocomplete="off" required="" aria-required="true">
      <label for="user">Usuario </label>
    </div>
  </div><br>
  <div class="row center">
    <input class="btn waves-effect waves-light cyan darken-2" type="submit" name="login" value="RECUPERAR CONTRASEÑA">
  </div>
</form>
