<form action="/account/newPassword?_method=put" method="post" onsubmit="return comparePass(this);">
  <div class="row center">
    <br><br>
  </div>
  <div class="row">
    <div class="col l3">&nbsp;</div>
    <div class="input-field col l6 col s12">
      <i class="material-icons prefix">account_circle</i>
      <input type="text" id="user" name="user" class="validate" autocomplete="off" required="" aria-required="true">
      <label for="user">Usuario </label>
    </div>
  </div><br>
  <div class="row">
    <div class="col l3">&nbsp;</div>
    <div class="input-field col l6 col s12">
      <i class="material-icons prefix">lock_outline</i>
      <input type="password" id="pwd" name="pwd"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="validate" required="" aria-required="true">
      <label for="pwd">Nueva Contraseña </label>
    </div>
  </div>
  <div class="row">
    <div class="col l3">&nbsp;</div>
    <div class="input-field col l6 col s12">
      <i class="material-icons prefix">lock</i>
      <input type="password" id="cpwd" name="cpwd"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="validate" required="" aria-required="true">
      <label for="cpwd">Confirmar Contraseña </label>
    </div>
  </div>
  <div class="row center">
    <input class="btn waves-effect waves-light cyan darken-2" type="submit" name="login" value="GUARDAR">
  </div>
</form>
