<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../public/css/materialize.min.css" rel="stylesheet" media="screen,projection">
    <title>HC</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <h3>Datos Filiatorios</h3>
        </div>
        <div class="row">
          <div class="col l6 col s12">
            <b>Nombre y Apellido</b>
          </div>
          <div class="col l6 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l2 col s12">
            <b>Edad</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>Sexo</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>Ocupación</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3 col s12">
            <b>Fecha de Nacimiento</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3 col s12">
            <b>Número de Historia</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l2 col s12">
            <b>Estado Civil</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>DNI</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>Nacionalidad</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3 col s12">
            <b>Residencia Actual</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3 col s12">
            <b>Residencia Anterior</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3 col s12">
            <b>Grado de Instrucción</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3 col s12">
            <b>Religión</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <hr />
        <h3>Motivo de la Consulta</h3>
        <div class="row">
          <input type="text" name="name" value="">
        </div>
        <hr />
        <h3>Antecedentes de la Enfermedad</h3>
        <div class="row">
          <input type="text" name="name" value="">
        </div>
        <hr />
        <h3>Antecedentes Heredo Familiares</h3>
        <div class="row">
          <div class="col l3">
            <h5>Padres</h5>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3">
            <b>Vivos</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3">
            <b>Fallecidos</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3">
            <b>Causas</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3">
            <h5>Hermanos</h5>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3">
            <b>Vivos</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3">
            <b>Fallecidos</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3">
            <b>Causas</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3">
            <h5>Hijos</h5>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3">
            <b>Vivos</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3">
            <b>Fallecidos</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3">
            <b>Causas</b>
          </div>
          <div class="col l3">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l4">
            <b>DBT</b>
          </div>
          <div class="col l4">
            <form action="#">
             <p>
               <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
               <label for="filled-in-box-si">Si</label>
             </p>
             <p>
               <input type="checkbox" class="filled-in" id="filled-in-box-no" />
               <label for="filled-in-box-no">No</label>
             </p>
           </form>
          </div>
          <div class="col l4">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l4">
            <b>HTA</b>
          </div>
          <div class="col l4">
            <form action="#">
             <p>
               <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
               <label for="filled-in-box-si">Si</label>
             </p>
             <p>
               <input type="checkbox" class="filled-in" id="filled-in-box-no" />
               <label for="filled-in-box-no">No</label>
             </p>
           </form>
          </div>
          <div class="col l4">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l4">
            <b>TBC</b>
          </div>
          <div class="col l4">
            <form action="#">
             <p>
               <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
               <label for="filled-in-box-si">Si</label>
             </p>
             <p>
               <input type="checkbox" class="filled-in" id="filled-in-box-no" />
               <label for="filled-in-box-no">No</label>
             </p>
           </form>
          </div>
          <div class="col l4">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l4">
            <b>Gemelar</b>
          </div>
          <div class="col l4">
            <form action="#">
             <p>
               <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
               <label for="filled-in-box-si">Si</label>
             </p>
             <p>
               <input type="checkbox" class="filled-in" id="filled-in-box-no" />
               <label for="filled-in-box-no">No</label>
             </p>
           </form>
          </div>
          <div class="col l4">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l4">
            <b>Otras</b>
          </div>
          <div class="col l4">
            <form action="#">
             <p>
               <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
               <label for="filled-in-box-si">Si</label>
             </p>
             <p>
               <input type="checkbox" class="filled-in" id="filled-in-box-no" />
               <label for="filled-in-box-no">No</label>
             </p>
           </form>
          </div>
          <div class="col l4">
            <input type="text" name="name" value="">
          </div>
        </div>


      </div>
    </main>
  </body>
</html>
