<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../public/css/materialize.min.css" rel="stylesheet" media="screen,projection">
    <title>HC</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row">
          <h2>Datos Filiatorios</h2>
        </div>
        <div class="row">
          <div class="col l6 col s12">
            <b>Nombre y Apellido</b>
          </div>
          <div class="col l6 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l2 col s12">
            <b>Edad</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>Sexo</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>Ocupación</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3 col s12">
            <b>Fecha de Nacimiento</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3 col s12">
            <b>Número de Historia</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l2 col s12">
            <b>Estado Civil</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>DNI</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l2 col s12">
            <b>Nacionalidad</b>
          </div>
          <div class="col l2 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3 col s12">
            <b>Residencia Actual</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3 col s12">
            <b>Residencia Anterior</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>
        <div class="row">
          <div class="col l3 col s12">
            <b>Grado de Instrucción</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
          <div class="col l3 col s12">
            <b>Religión</b>
          </div>
          <div class="col l3 col s12">
            <input type="text" name="name" value="">
          </div>
        </div>

      </div>
    </main>
  </body>
</html>
