<a href="/users/<%= session.user.id %>/medicoEspecialista/initTime" class="collection-item">
  Agenda de Citas
</a>
<a href="/users/<%= session.user.id %>/medicoEspecialista/patientsList" class="collection-item">
  Historias Clínica
</a>
