<a href="/users/<%= session.user.id %>/medicoGeneral/initTime" class="collection-item">
  Agenda de Citas
</a>
<a href="/users/<%= session.user.id %>/medicoGeneral/patientsList" class="collection-item">
  Historias Clínica
</a>
