<a href="#!" class="collection-item">
Gestión de Citas
</a>
<a href="#!" class="collection-item">
Realizar Cuestionarios
</a>
<!--<a href="#!" class="collection-item">
Resultados de Cuestionarios Realizados
</a>
<a href="#!" class="collection-item">
  Gestión de Mensajes
</a>-->
