<a href="/users/<%= session.user.id %>/<%= session.user.rol.name %>/pending" class="collection-item">
  Aprobación de Cuentas
</a>
<a href="/users/<%= session.user.id %>/<%= session.user.rol.name %>/manage" class="collection-item">
  Gestión de Cuentas
</a>
