<br><br><br><br><br>
<form action="/users/<%= session.user.id %>/<%= medico %>/calendar" method="get">
  <div class="row">
    <div class="col l8 offset-l2 col m12 col s12">
    <i class="material-icons prefix">schedule</i>
      <label>HORA DE INICIO</label>
      <select name="times" class="validate">
        <option value="6:00 a.m">6:00 a.m</option>
        <option value="7:00 a.m">7:00 a.m</option>
        <option value="8:00 a.m">8:00 a.m</option>
        <option value="9:00 a.m">9:00 a.m</option>
        <option value="10:00 a.m">10:00 a.m</option>
        <option value="11:00 a.m">11:00 a.m</option>
        <option value="2:00 p.m">2:00 p.m</option>
        <option value="3:00 p.m">3:00 p.m</option
      </select>
    </div>
  </div>
  <div class="row center col l12 col m12 col s12">
    <input class="waves-effect waves-light btn cyan darken-2" type="submit" name="button" value="VER AGENDA">
  </div>
</form>
