<div class="row">
  <hr>
  <label><h4>REGISTRO EPS</h4></label><br><br>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="nit" class="validate" required="" aria-required="true">
    <label for="nit">NIT </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="nameEps" id="nombre" class="validate" required="" aria-required="true">
    <label for="nombre">Nombre o Razón Social </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="mailEps" id="correo" class="validate" required="" aria-required="true">
    <label for="correo">Correo </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="phoneEps" id="telefono" class="validate" required="" aria-required="true">
    <label for="telefono">Telefono </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l12">
    <input type="text" name="addressEps" id="direccion" class="validate" required="" aria-required="true">
    <label for="direccion">Dirección </label>
  </div>
</div>
<div class="row"><h5>Persona Responsable</h5></div>
<div class="row">
  <div class="col l6">
    <label >Tipo de Documento </label>
    <select required="" aria-required="true">
      <option value="cedula-de-ciudadania">Cédula de Ciudadanía</option>
      <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
      <option value="pasaporte">Pasaporte</option>
      <option value="id">Id</option>
    </select>
  </div>
  <div class="input-field col l6">
    <input type="text" name="numDocument" id="numDocumento" class="validate" required="" aria-required="true">
    <label for="numDocumento">N° de Documento </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="names" id="nombre" class="validate" required="" aria-required="true">
    <label for="nombre">Nombres </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="lastnames" id="apellidos" class="validate" required="" aria-required="true">
    <label for="apellidos">Apellidos </label>
  </div>
</div>
<div class="row">
  <div class="col l6">
    <label >Género </label>
    <select name="gender" required="" aria-required="true">
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
    </select>
  </div>
  <div class="input-field col l6">
    <input type="text" id="telefono" name="phone" class="validate" required="" aria-required="true">
    <label for="telefono">Telefono </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="password" name="pwd" id="pwd" class="validate"
      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="" aria-required="true">
    <label for="pwd">Contraseña </label>
  </div>
  <div class="input-field col l6">
    <input type="password" name="cpwd" id="cpwd" class="validate"
      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="" aria-required="true">
    <label for="cpwd">Confirmar Contraseña</label>
  </div>
</div>
