<div class="container">
  <hr><label><h4>REGISTRO EPS</h4></label><br><br>
  <div class="row">
    <div class="input-field col l6">
      <input type="text" name="nit" class="validate">
      <label for="nit">NIT </label>
    </div>
    <div class="input-field col l6">
      <input type="text" name="nombre" class="validate">
      <label for="nombre">Nombre o Razón Social </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <input type="text" name="correo" id="correo" class="validate">
      <label for="correo">Correo </label>
    </div>
    <div class="input-field col l6">
      <input type="text" name="telefono" id="telefono" class="validate">
      <label for="telefono">Telefono </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12">
      <input type="text" name="direccion" id="direccion" class="validate">
      <label for="direccion">Dirección </label>
    </div>
  </div>
  <div class="row"><h5>Persona Responsable</h5></div>
  <div class="row">
    <div class="col l6">
      <label >Tipo de Documento </label>
      <select>
        <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
        <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="id">Id</option>
      </select>
    </div>
    <div class="input-field col l6">
      <input type="text" name="numDocumento" id="numDocumento" class="validate">
      <label for="numDocumento">N° de Documento </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <input type="text" name="nombre" id="nombre" class="validate">
      <label for="nombre">Nombres </label>
    </div>
    <div class="input-field col l6">
      <input type="text" name="apellidos" id="apellidos" class="validate">
      <label for="apellidos">Apellidos </label>
    </div>
  </div>
  <div class="row">
    <div class="col l6">
      <label >Género </label>
      <select>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>
    <div class="input-field col l6">
      <input type="text" id="telefono" class="validate">
      <label for="telefono">Telefono </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <input type="text" id="pwd" class="validate">
      <label for="pwd">Contraseña </label>
    </div>
    <div class="input-field col l6">
      <input type="text" id="cpwd" class="validate">
      <label for="cpwd">Confirmar Contraseña</label>
    </div>
  </div>
</div>
