<div class="container">
  <div class="row">
    <hr>
    <label><h4>ROOT DEL SISTEMA</label></h4>
  </div>
  <div class="row">
    <div class="col l6">
      <label >Tipo de Documento </label>
      <select required="" aria-required="true">
        <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
        <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
        <option value="pasaporte">Pasaporte</option>
        <option value="id">Id</option>
      </select>
    </div>
    <div class="input-field col l6">
      <input type="text" name="numDocument" id="numDocumento" required="" aria-required="true">
      <label for="numDocumento">N° de Documento </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <input type="text" name="names" id="nombre" required="" aria-required="true">
      <label for="nombre">Nombres </label>
    </div>
    <div class="input-field col l6">
      <input type="text" name="lastnames" id="apellidos" required="" aria-required="true">
      <label for="apellidos">Apellidos </label>
    </div>
  </div>
  <div class="row">
    <div class="col l6">
      <label >Género </label>
      <select name="gender" required="" aria-required="true">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>
    <div class="col l6">
      <label for="nacimiento">Fecha de Nacimiento </label>
      <input type="date" name="birthday" required="" aria-required="true"><br><br>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <input type="text" name="mail" id="correo" required="" aria-required="true">
      <label for="correo">Correo </label>
    </div>
    <div class="input-field col l6">
      <input type="text" name="phone" id="telefono" required="" aria-required="true">
      <label for="telefono">Telefono </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12">
      <input type="text" name="address" id="direccion" required="" aria-required="true">
      <label for="direccion">Dirección </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <input type="password" name="pwd" id="pwd"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="" aria-required="true">
      <label for="pwd">Contraseña </label>
    </div>
    <div class="input-field col l6">
      <input type="password" name="cpwd" id="cpwd"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="" aria-required="true">
      <label for="cpwd">Confirmar Contraseña </label>
    </div>
  </div>
</div>
