<div class="row">
  <hr>
  <label><h4>REGISTRO PACIENTES, MÉDICOS GENERALES Y ESPECIALISTAS</label></h4>
</div>
<div class="row">
  <div class="col l6">
    <label >Tipo de Documento </label>
    <select required="" aria-required="true">
      <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
      <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
      <option value="pasaporte">Pasaporte</option>
      <option value="id">Id</option>
    </select>
  </div>
  <div class="input-field col l6">
    <input type="text" name="numDocumento" id="numDocumento" required="" aria-required="true">
    <label for="numDocumento">N° de Documento </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="nombre" id="nombre" required="" aria-required="true">
    <label for="nombre">Nombres </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="apellidos" id="apellidos" required="" aria-required="true">
    <label for="apellidos">Apellidos </label>
  </div>
</div>
<div class="row">
  <div class="col l6">
    <label >Género </label>
    <select name="genero" required="" aria-required="true">
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
    </select>
  </div>
  <div class="col l6">
    <label for="nacimiento">Fecha de Nacimiento </label>
    <input type="date" name="nacimiento" value="nacimiento" required="" aria-required="true"><br><br>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="correo" id="correo" required="" aria-required="true">
    <label for="correo">Correo </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="telefono" id="telefono" required="" aria-required="true">
    <label for="telefono">Telefono </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="direccion" id="direccion" required="" aria-required="true">
    <label for="direccion">Dirección </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="eps-asociada" id="eps-asociada" required="" aria-required="true">
    <label for="eps-asociada">EPS Asociada </label>
  </div>
</div>
<div class="row">
  <div class="col l12">
    <label>Roles </label>
    <form action="#">
      <p>
        <input type="checkbox" class="filled-in" name="paciente" value="paciente" id="paciente-check" required="" aria-required="true">
        <label for="paciente-check">Paciente</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" name="medico-general" value="medico-general" id="medicogeneral-check" required="" aria-required="true">
        <label for="medicogeneral-check">Médico General</label>
      </p>
      <p>
        <input type="checkbox" class="filled-in" name="medico-especialista" value="medico-especialista" id="medicoespecialista-check" required="" aria-required="true">
        <label for="medicoespecialista-check">Médico Especialista</label>
      </p>
    </form>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="pwd" id="pwd" required="" aria-required="true">
    <label for="pwd">Contraseña </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="cpwd" id="cpwd" required="" aria-required="true">
    <label for="cpwd">Confirmar Contraseña </label>
  </div>
</div>
