<div>
  <div class="container">
    <div class="row">
      <label><h2>
        <center>Editar Perfil</center>
      </h2></label>
    </div>
  </div>

<% if (Array.isArray(session.user.rol)) {%>
  <form action="/users/<%= session.user.id %>/edit?_method=put" method="post" onsubmit="return comparePwd(this) && checkDate(this, 'user');">
<% } else {%>
  <% if (session.user.rol.name == 'eps') {%>
    <form action="/users/<%= session.user.id %>/edit?_method=put" method="post" onsubmit="return comparePwd(this) && checkDate(this, 'eps');">
  <% } else {%>
    <form action="/users/<%= session.user.id %>/edit?_method=put" method="post" onsubmit="return comparePwd(this) && checkDate(this, 'root');">
  <% } %>
<% } %>

  <% if (Array.isArray(session.user.rol)) { %>
    <% include _editUserForm.ejs %>
  <% } else { %>
    <% if (session.user.rol.name == 'root') { %>
      <% include _editRootForm.ejs %>
    <% } else { %>
      <% include _editEpsForm.ejs %>
    <% } %>
  <% } %>
  <div class="row center">
    <input class="btn waves-effect waves-light" type="submit" value="ENVIAR">
  </div>
</form>
<% if (Array.isArray(session.user.rol) || session.user.rol.name == 'eps') { %>
  <div class="center">
    <form action="/users/<%= session.user.id %>/edit?_method=delete" method="post">
      <input type="submit" class="btn waves-effect waves-light #cddc39 lime" onclick="return checkedDeleted();" value="ELIMINAR CUENTA">
    </form>
  </div>
<% } %>
