<div>
  <br><br><center>
    <h3>ROOT</h3>
    <img src="/images/default/root.jpg" alt="Paciente" height="140" width="100"/>
  </center><br>
  <labe>Subir Foto de Perfil </label>
  <input type="file" name="foto"><br><br>
  <label>Tipo de Identificación </label>
  <input type="input" name="tipoIdentificacion">
  <label>Número de Identificacón </label>
  <input type="input" name="id"><br><br>
  <label>Nombre </label>
  <input type="input" name="name">
  <label>Correo </label>
  <input type="mail" name="correo"><br><br>
  <label>Telefono </label>
  <input type="input" name="telefono">
  <label>Dirección </label>
  <input type="input" name="direccion"><br><br>
  <input type="submit" name="save" value="GUARDAR">
</div>
