<div>
  <div class="container">
    <div class="row">
      <label><h2>Editar Perfil</h2></label>
    </div>
  </div>
<form class="" action="#" method="post">
  <%# include _userForm.ejs %>
  <%# include _epsForm.ejs %>
  <% include _rootForm.ejs %>
  <div class="row center">
    <a href="#" class="btn waves-effect waves-light #cddc39 lime" >Eliminar Cuenta</a>
    <input class="btn waves-effect waves-light" type="submit" value="ENVIAR">
  </div>
</form>
