<div>
  <div class="container">
    <div class="row">
      <label><h2>
        <center>Editar Perfil</center>
      </h2></label>
    </div>
  </div>
<form action="/users/<%= session.user.id %>/edit?_method=put" method="post" onsubmit="return comparePwd(this);">
  <% if (Array.isArray(session.user.rol)) { %>
    <% include _editUserForm.ejs %>
  <% } else { %>
    <% if (session.user.rol.name == 'root') { %>
      <% include _editRootForm.ejs %>
    <% } else { %>
      <% include _editEpsForm.ejs %>
    <% } %>
  <% } %>
  <div class="row center">
    <a href="#" class="btn waves-effect waves-light #cddc39 lime" onclick="return checkedDeleted();">Eliminar Cuenta</a>
    <input class="btn waves-effect waves-light" type="submit" value="ENVIAR">
  </div>
</form>
