<div class="row center">
  <h3>ROOT</h3>
  <img src="/images/default/root.jpg" alt="Paciente" height="140" width="100"/>
</div>
<div class="row">
  <div class="col l3 offset-l3 col s12">
    <labe>Subir Foto de Perfil </label>
  </div>
  <div class="col l6 col s12">
    <form action="#">
      <div class="file-field input-field">
        <div class="btn">
          <div class="file-path-wrapper">
            <span>Seleccionar</span>
            <input type="file" name="foto">
          </div>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="input-field col l6 col s12">
    <label>Tipo de Identificación </label>
    <input disabled value="I am not editable" type="text" name="tipoIdentificacion">
  </div>
  <div class="input-field col l6 col s12">
    <label>Número de Identificacón </label>
    <input disabled value="I am not editable" type="text" name="id">
  </div>
</div>
<div class="row">
  <div class="input-field col l6 col s12">
    <label>Nombre </label>
    <input disabled value="I am not editable" type="text" name="name">
  </div>
  <div class="input-field col l6 col s12">
    <label>Correo </label>
    <input disabled value="I am not editable" type="text" name="correo">
  </div>
</div>
<div class="row">
  <div class="input-field col l6 col s12">
    <label>Telefono </label>
    <input disabled value="I am not editable" type="text" name="telefono">
  </div>
  <div class="input-field col l6 col s12">
    <label>Dirección </label>
    <input disabled value="I am not editable" type="text" name="direccion">
  </div>
</div>
<div class="row center">
  <input class="btn waves-effect waves-light" type="submit" name="save" value="GUARDAR">
</div>
