<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <label>Registro</label><br>
      <button type="button" name="button">PACIENTES, MÉDICOS GENERALES Y ESPECIALISTAS</button>
      <button type="button" name="button">EPS</button>

      <form action="#" method="post">
        <div>
          <hr><label>REGISTRO PACIENTES, MÉDICOS GENERALES Y ESPECIALISTAS</label><br><br>
          <label >Tipo de Documento </label>
          <select name="tipo-documento">
            <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
            <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
            <option value="pasaporte">Pasaporte</option>
            <option value="id">Id</option>
          </select>
          <label for="numDocumento">N° de Documento </label>
          <input type="input" name="numDocumento" id="numDocumento"><br><br>
          <label for="nombre">Nombres </label>
          <input type="input" name="nombre" id="nombre">
          <label for="apellidos">Apellidos </label>
          <input type="input" name="apellidos" id="apellidos"><br><br>
          <label >Género </label>
          <select name="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
          </select>
          <label for="nacimiento">Fecha de Nacimiento </label>
          <input type="date" name="nacimiento" value="nacimiento"><br><br>
          <label for="correo">Correo </label>
          <input type="mail" name="correo" id="correo">
          <label for="telefono">Telefono </label>
          <input type="input" name="telefono" id="telefono"><br><br>
          <label for="direccion">Dirección </label>
          <input type="input" name="direccion" id="direccion">
          <label for="eps-asociada">EPS Asociada </label>
          <input type="input" name="eps-asociada" id="eps-asociada"><br><br>
          <label>Roles </label>
          Paciente <input type="checkbox" name="paciente" value="paciente">
          Médico General <input type="checkbox" name="medico-general" value="medico-general">
          Médico Especialista <input type="checkbox" name="medico-especialista" value="medico-especialista"><br><br>
          <label for="pwd">Contraseña </label>
          <input type="input" name="pwd" id="pwd"><br><br>
          <label for="cpwd">Confirmar Contraseña </label>
          <input type="input" name="cpwd" id="cpwd"><br><br>
        </div>
        <div>
          <hr><label>REGISTRO EPS</label><br><br>
          <label for="nit">NIT </label>
          <input type="input" name="nit">
          <label for="nombre">Nombre o Razón Social </label>
          <input type="input" name="nombre"><br><br>
          <label for="correo">Correo </label>
          <input type="mail" name="correo" id="correo">
          <label for="telefono">Telefono </label>
          <input type="input" name="telefono" id="telefono"><br><br>
          <label for="direccion">Dirección </label>
          <input type="input" name="direccion" id="direccion">
          <strong><p>Persona Responsable</p></strong>
          <label >Tipo de Documento </label>
          <select name="tipo-documento">
            <option value="cedula-de-ciudadania">Cedula de Ciudadanía</option>
            <option value="cedula-de-extranjeria">Cédula de Extranjería</option>
            <option value="pasaporte">Pasaporte</option>
            <option value="id">Id</option>
          </select>
          <label for="numDocumento">N° de Documento </label>
          <input type="input" name="numDocumento" id="numDocumento"><br><br>
          <label for="nombre">Nombres </label>
          <input type="input" name="nombre" id="nombre">
          <label for="apellidos">Apellidos </label>
          <input type="input" name="apellidos" id="apellidos"><br><br>
          <label >Género </label>
          <select name="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
          </select>
          <label for="telefono">Telefono </label>
          <input type="input" name="telefono" id="telefono"><br><br>
          <label for="pwd">Contraseña </label>
          <input type="input" name="pwd" id="pwd"><br><br>
          <label for="cpwd">Confirmar Contraseña </label>
          <input type="input" name="cpwd" id="cpwd"><br><br>
        </div>
        <input type="submit" value="ENVIAR">
      </form>
    </div>
  </body>
</html>
