<div>
  <div class="container">
    <div class="row center">
      <label><h2>Registro</h2></label>
    </div>
    <div class="row center">
      <button class="waves-effect waves-light btn" type="button" name="button" id="users">
        PACIENTES, MÉDICOS GENERALES Y ESPECIALISTAS
      </butto></div>
      <div class="row center">
      <button class="waves-effect waves-light btn" type="button" name="button" id="eps">
        EPS
      </button>
    </div>
  </div>
<form class="" action="#" method="post">
  <div id="userForm"><% include _userForm.ejs %></div>
  <div id="epsForm"><% include _epsForm.ejs %></div>
  <div class="row center" id="submitForm">
    <input class="btn waves-effect waves-light" type="submit" value="ENVIAR">
  </div>
</form>
