<div class="container">
  <div class="row center">
    <label><h2>Registro</h2></label>
  </div>
  <% if (hasRoot == false) {%>
    <div class="row center">
      <button class="waves-effect waves-light btn" type="button" name="button" id="root">
        ROOT DEL SISTEMA
      </button>
    </div>
  <% } %>
  <div class="row center">
    <button class="waves-effect waves-light btn" type="button" name="button" id="users">
      PACIENTES, MÉDICOS GENERALES Y ESPECIALISTAS
    </butto>
  </div>
  <div class="row center">
    <button class="waves-effect waves-light btn" type="button" name="button" id="eps">
      EPS
    </button>
  </div>
</div>
<div id="rootForm">
  <form action="/users/create/root" class="rootValidate" method="post" onsubmit="return (checkDate(this, 'root') == true)? compare(this, false) : false;" autocomplete="off" novalidate>
    <% include _rootForm.ejs %>
    <div class="row center">
      <input class="btn waves-effect waves-light" type="submit" value="ENVIAR">
    </div>
  </form>
</div>
<div id="epsForm">
  <form action="/users/create/eps" class="epsValidate" method="post" onsubmit="return compare(this, true);" autocomplete="off" novalidate>
    <% include _epsForm.ejs %>
    <div class="row center">
      <input class="btn waves-effect waves-light" type="submit" value="ENVIAR">
    </div>
  </form>
</div>
<div id="userForm">
  <form action="/users/create/user" class="userValidate" method="post" onsubmit="return (checkDate(this, 'user') == true)? checkForm(this) : false;" autocomplete="off" novalidate>
    <% include _userForm.ejs %>
    <div class="row center">
      <input class="btn waves-effect waves-light" type="submit" value="ENVIAR">
    </div>
  </form>
</div>
