<div class="row col l12 col m12 col s12">
  <form action="#" method="post">
    <div class="col l8 offset-l2 col m12 col s12"><br>
      <select name="patient">
        <option value="TEST">Prueba</option>
      </select>
    </div>
  </form>
</div>
