<div class="container">
  <div class="center">
    <h2>HISTORIA CLINICA</h2><br>
  </div>
  <div class="row">
    <h3>Datos Filiatorios</h3>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" required="" aria-required="true">
      <label for="nameEps">Nombres </label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" required="" aria-required="true">
      <label for="nameEps">Apellidos </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Edad</label>
    </div>
    <div class="col l6 col m6 col s12">
      <i class="material-icons prefix">wc</i>
      <label >Género </label>
      <select name="gender" required="" aria-required="true" class="validate">
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Ocupación</label>
    </div>
    <div class="col l6 col m6 col s12">
      <i class="material-icons prefix">today</i>
      <label for="nac">Fecha de Nacimiento </label>
      <input type="text" name="birthdate" id="birthdate" placeholder="mm/dd/aaaa" required="" aria-required="true" class="datepicker validate"><br><br>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Número de Historia</label>
    </div>
    <div class="col l6 col m6 col s12">
      <i class="material-icons prefix">wc</i>
      <label>Estadi Civil </label>
      <select name="gender" required="" aria-required="true" class="validate">
        <option value="soltero">Soltero(a)</option>
        <option value="casado">Casado(a)</option>
        <option value="divorciado">Divorciado(a)</option>
        <option value="viudo">Viudo(a)</option>
        <option value="union-libre">Unión Libre</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" required="" aria-required="true">
      <label for="nameEps">DNI</label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" required="" aria-required="true">
      <label for="nameEps">Nacionalidad</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Residencia Actual</label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Residencia Anterior</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Grado de Instrucción</label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Religión</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="input-field col l12 col m12 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Motivo de la Consulta</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="input-field col l12 col m12 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Antecedentes de la Enfermedad</label>
    </div>
  </div>
  <br>
  <h3>Antecedentes Heredo Familiares</h3><br>
  <div class="row">
    <h5>Padres</h5>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Vivos</label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Fallecidos</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 col m12 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Causas</label>
    </div>
  </div>
  <div class="row">
    <h5>Hermanos</h5>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Vivos</label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Fallecidos</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 col m12 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Causas</label>
    </div>
  </div>
  <div class="row">
    <h5>Hijos</h5>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Vivos</label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" autocomplete="off" class="validate" pattern="[0-9]+" required="" aria-required="true">
      <label for="nameEps">Fallecidos</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 col m12 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Causas</label>
    </div>
  </div>

  <!--FALTA-->
  <div class="row">
    <div class="col l4 col s12">
      <b>DBT</b>
    </div>
    <div class="col l4 col s12">
      <form action="#">
       <p>
         <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
         <label for="filled-in-box-si">Si</label>
       </p>
       <p>
         <input type="checkbox" class="filled-in" id="filled-in-box-no" />
         <label for="filled-in-box-no">No</label>
       </p>
     </form>
    </div>
    <div class="col l4 col s12">
      <input type="text" name="name" value="">
    </div>
  </div>
  <div class="row">
    <div class="col l4 col s12">
      <b>HTA</b>
    </div>
    <div class="col l4 col s12">
      <form action="#">
       <p>
         <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
         <label for="filled-in-box-si">Si</label>
       </p>
       <p>
         <input type="checkbox" class="filled-in" id="filled-in-box-no" />
         <label for="filled-in-box-no">No</label>
       </p>
     </form>
    </div>
    <div class="col l4 col s12">
      <input type="text" name="name" value="">
    </div>
  </div>
  <div class="row">
    <div class="col l4 col s12">
      <b>TBC</b>
    </div>
    <div class="col l4 col s12">
      <form action="#">
       <p>
         <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
         <label for="filled-in-box-si">Si</label>
       </p>
       <p>
         <input type="checkbox" class="filled-in" id="filled-in-box-no" />
         <label for="filled-in-box-no">No</label>
       </p>
     </form>
    </div>
    <div class="col l4 col s12">
      <input type="text" name="name" value="">
    </div>
  </div>
  <div class="row">
    <div class="col l4 col s12">
      <b>Gemelar</b>
    </div>
    <div class="col l4 col s12">
      <form action="#">
       <p>
         <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
         <label for="filled-in-box-si">Si</label>
       </p>
       <p>
         <input type="checkbox" class="filled-in" id="filled-in-box-no" />
         <label for="filled-in-box-no">No</label>
       </p>
     </form>
    </div>
    <div class="col l4 col s12">
      <input type="text" name="name" value="">
    </div>
  </div>
  <div class="row">
    <div class="col l4 col s12">
      <b>Otras</b>
    </div>
    <div class="col l4 col s12">
      <form action="#">
       <p>
         <input type="checkbox"  class="filled-in" id="filled-in-box-si" />
         <label for="filled-in-box-si">Si</label>
       </p>
       <p>
         <input type="checkbox" class="filled-in" id="filled-in-box-no" />
         <label for="filled-in-box-no">No</label>
       </p>
     </form>
    </div>
    <div class="col l4 col s12">
      <input type="text" name="name" value="">
    </div>
  </div>
</div>
